<section class="w-full">
	<!-- Error and Progress messages -->
	<p *ngIf="loading" class="px-4">Refreshing Data</p>
	<h1
		*ngIf="!loading && chartCRNMetadata !== null"
		class="text-xl font-medium px-2"
	>
		Chart for {{ chartCRNMetadata.subject_code }} {{ chartCRNMetadata.subject_number }} (Term: {{ chartCRNMetadata.term }})
	</h1>
	<p *ngIf="failed" class="px-4">Failed to Load CRN {{ crn }} Data</p>
	<p *ngIf="!loading && !failed && chartCRNData.length <= 1" class="px-4">
		Insufficient data (Number of Entries: {{ chartCRNData.length }})
	</p>

	<ng-container *ngIf="chartCRNData.length">
		<app-chart-figure
			[datasets]="chartDatasets"
		/>

		<!-- Chart Filters and Settings -->
		<div class="w-full px-2 sm:px-6 py-2">
			<h2 class="text-lg font-medium underline">Settings for CRN #{{ crn }}</h2>
			<label class="block w-full">
				<input
					(click)="toggleOptimized()"
					[checked]="optimized"
					type="checkbox"
				/>
				<span class="inline-block pl-2">Hide points that do not change? (Optimizes out useless points)</span>
			</label>
			<label class="block w-full">
				<input
					(click)="toggleBestFit()"
					[checked]="enableBestFit"
					type="checkbox"
				/>
				<span class="inline-block pl-2">Show trend line? (Attempts to draw a best-fit line on the currently displayed points)</span>
			</label>
			<div class="w-full mt-1 px-2 border-l-2">
				<h3 class="font-medium underline">Time Range Adjustment</h3>
				<label class="block w-full">
					<input
						(click)="toggleRangeFilter()"
						[checked]="rangeFilterEnabled"
						type="checkbox"
					/>
					<span class="inline-block pl-2">Show only points within the specified range?</span>
				</label>
				<label class="block w-full">
					<input
						(click)="toggleRangeToPresent()"
						[checked]="rangeToPresent"
						type="checkbox"
					/>
					<span class="inline-block pl-2">Show up to latest point? (Disables end time)</span>
				</label>
				<label
					[ngClass]="{'text-gray-300': !rangeFilterEnabled}"
					class="block w-full mt-1"
				>
					<span class="inline-block w-[92px] pr-2">Start Time</span>
					<input
						(change)="setStartRange($event)"
						[disabled]="!rangeFilterEnabled"
						[value]="startTimestamp"
						class="px-1 py-0.5"
						type="datetime-local"
					/>
				</label>
				<label
					[ngClass]="{'text-gray-300': !rangeFilterEnabled || rangeToPresent}"
					class="block w-full mt-1"
				>
					<span class="inline-block w-[92px] pr-2">End Time</span>
					<input
						(change)="setEndRange($event)"
						[disabled]="!rangeFilterEnabled || rangeToPresent"
						[min]="startTimestamp"
						[value]="endTimestamp"
						class="px-1 py-0.5"
						type="datetime-local"
					/>
				</label>
			</div>
		</div>
	</ng-container>
</section>