<section class="w-full">
	<!-- Error and Progress messages -->
	<p class="px-4" *ngIf="loading">Refreshing Data</p>
	<p class="px-4" *ngIf="failed">Failed to Load CRN {{crn}}</p>
	<p class="px-4" *ngIf="!loading && !failed && chartCRNData.length <= 1">
		Insufficient data (Number of Entries: {{chartCRNData.length}})
	</p>

	<h1
		*ngIf="!loading && chartCRNMetadata !== null"
		class="text-xl font-medium px-2"
	>
		Chart for {{chartCRNMetadata.subject_code}} {{chartCRNMetadata.subject_number}} (Term: {{chartCRNMetadata.term}})
	</h1>
	<ng-container *ngIf="chartCRNData.length">
		<app-chart-figure
			[datasets]="chartDatasets"
		/>

		<!-- Chart Filters and Settings -->
		<div class="w-full px-2 sm:px-6 py-2">
			<h2 class="text-lg font-medium underline">Settings for CRN #{{crn}}</h2>
			<label class="block w-full">
				<input
					(click)="toggleOptimized()"
					[checked]="optimized"
					type="checkbox"
				/>
				<span class="inline-block pl-2">Hide points that do not change? (Optimizes out useless points)</span>
			</label>
			<label class="block w-full">
				<input
					(click)="toggleBestFit()"
					[checked]="enableBestFit"
					type="checkbox"
				/>
				<span class="inline-block pl-2">Show trend line? (Attempts to draw a best-fit line on the currently displayed points)</span>
			</label>
			<div class="w-full mt-1 px-2 border-l-2">
				<h3 class="font-medium underline">Time Range Adjustment</h3>
				<p>Looking for the time range adjustment filters? They're being worked on again so check back later!</p>
				<label class="block w-full">
					<input
						(click)="toggleRangeFilter()"
						[checked]="rangeFilterEnabled"
						type="checkbox"
					/>
					<span class="inline-block pl-2">Show only points within the specified range?</span>
				</label>
				<label class="block w-full">
					<input
						(click)="toggleRangeToPresent()"
						[checked]="rangeToPresent"
						type="checkbox"
					/>
					<span class="inline-block pl-2">Show up to latest point? (Disables end time)</span>
				</label>
				<label
					class="block w-full mt-1"
					[ngClass]="{'text-gray-300': !rangeFilterEnabled}"
				>
					<span class="inline-block w-[92px] pr-2">Start Time</span>
					<input
						class="px-1 py-0.5"
						[disabled]="!rangeFilterEnabled"
						(change)="setStartRange($event)"
						[value]="startTimestamp"
						type="datetime-local"
					/>
				</label>
				<label
					class="block w-full mt-1"
					[ngClass]="{'text-gray-300': !rangeFilterEnabled || rangeToPresent}"
				>
					<span class="inline-block w-[92px] pr-2">End Time</span>
					<input
						class="px-1 py-0.5"
						[disabled]="!rangeFilterEnabled || rangeToPresent"
						(change)="setEndRange($event)"
						[min]="startTimestamp"
						[value]="endTimestamp"
						type="datetime-local"
					/>
				</label>
			</div>
		</div>
	</ng-container>
</section>