<div class="h-main-full overflow-hidden flex-grow flex flex-row relative">
	<!-- Filter Sidebar -->
	<aside
		[ngClass]="{'-left-full': !mobileShowFilters, 'left-0': mobileShowFilters}"
		class="w-full h-full absolute z-40 sm:static sm:w-64 sm:h-auto px-3 py-4 flex-shrink-0 flex-grow-0 bg-slate-100 border-r border-slate-50 transition-[left]"
	>
		<h2 class="text-xl">
			Filter by
		</h2>
		<hr class="my-2 border-t-2"/>

		<!-- Filter Options -->
		<ng-content select="[filter-list]"/>
		<button
			(click)="toggleMobileFilters()"
			class="absolute right-8 bottom-6 sm:hidden text-base px-4 py-2 bg-slate-200 rounded-full"
		>
			Results &gt;
		</button>
	</aside>

	<!-- Results -->
	<section class="relative flex-grow flex flex-col px-4 pt-2 pb-20 overflow-y-auto bg-slate-50 sm:pb-2">
		<h1 class="text-2xl">
			{{ filterTitle }}
		</h1>
		<div
			*ngIf="showSearchPrompt"
			class="w-full flex-grow flex flex-col justify-center items-center pb-20"
		>
			<img
				alt="Observatory Graphic"
				class="w-[50%] max-w-[360px] h-fit object-contain mb-1"
				src="assets/observatory.svg"
			/>
			<p class="text-xl">{{ subtitle }}</p>
		</div>

		<div class="fixed right-8 bottom-6 sm:hidden">
			<button
				(click)="toggleMobileFilters()"
				class="px-4 py-2 bg-slate-200 rounded-full shadow-md hover:shadow-lg"
			>
				Filters
			</button>
		</div>

		<ng-content/>
	</section>
</div>
