<app-filter-ui-layout
	[showSearchPrompt]="!results.length"
	filterTitle="Course Lookup Tool"
	subtitle="Filter by a Subject Code to begin"
>
	<ng-container filter-list>
		<!-- Filter Options -->
		<ul class="pt-2">
			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectCode($event)"
					[options]="validSubjectCodes"
					[required]="true"
					labelText="Subject Code Filter"
					placeholder="Select Subject Code"
					titleText="Subject Code"
				/>
			</li>

			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectNumber($event)"
					[autocompleteTextControl]="subjectCodeControl"
					[options]="validSubjectNumbers"
					defaultLabel="(All)"
					defaultOption="All"
					labelText="Subject Number Filter"
					placeholder="Select Subject Number"
					titleText="Subject Number"
				/>
			</li>
		</ul>
	</ng-container>

	<ng-container *ngIf="results.length">
		<div class="my-2 py-1 animate-bounce">
			<p class="text-lg underline">UI Improvements Are Being Worked On!</p>
			<p class="text-slate-600 text-base italic">(Please excuse the mess... I am one person ;-;)</p>
		</div>
		<h2 class="text-base text-slate-500">{{ results.length }} results found:</h2>
		<div class="flex flex-row gap-1.5">
			<button
				(click)="downloadResults()"
				class="inline-block w-fit border px-4 py-1.5 my-2 rounded bg-slate-50"
			>
				Download JSON
			</button>
			<button
				(click)="downloadResults(true)"
				class="inline-block w-fit border px-4 py-1.5 my-2 rounded bg-slate-50"
			>
				Download CSV
			</button>
		</div>

		<app-course-lookup-result
			*ngFor="let course of results"
			[GE_credits]="course.GE_credits"
			[course_title]="course.course_title"
			[credit_limit]="course.credit_limit"
			[cross_listing]="course.cross_listing"
			[description]="course.description"
			[enrollment_restrictions]="course.enrollment_restrictions"
			[grade_mode]="course.grade_mode"
			[learning_activities]="course.learning_activities"
			[prerequisites]="course.prerequisites"
			[repeat_credit]="course.repeat_credit"
			[subject_code]="course.subject_code"
			[subject_number]="course.subject_number"
			[units]="course.units"
		/>
	</ng-container>
</app-filter-ui-layout>

