<app-filter-ui-layout
	filterTitle="Course Lookup Tool"
	[showSubtitle]="!results.length"
	subtitle="Filter by a Subject Code to begin"
>
	<ng-container filter-list>
		<!-- Filter Options -->
		<ul class="pt-2">
			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectCode($event)"
					[options]="validSubjectCodes"
					titleText="Subject Code"
					labelText="Subject Code Filter"
					placeholder="Select Subject Code"
					[required]="true"
				/>
			</li>

			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectNumber($event)"
					[options]="validSubjectNumbers"
					[autocompleteTextControl]="subjectCodeControl"
					titleText="Subject Number"
					labelText="Subject Number Filter"
					placeholder="Select Subject Number"
					defaultLabel="(All)"
					initialValue="All"
					defaultOption="All"
				/>
			</li>
		</ul>
	</ng-container>

	<p>Better UI Coming Tomorrow</p>
	<ul class="pl-4 list-disc">
		<li *ngFor="let course of results">
			({{course.subject_code}} {{course.subject_number}}) {{course.course_title}} - {{course.units}}
			<br/>
			{{course.description}}
		</li>
	</ul>
</app-filter-ui-layout>

