<!-- Div must exist with relative for Chart.js to resize properly -->
<div class="w-full h-[50vw] max-h-[calc(90vh-4rem)] relative">
	<canvas
		#chartSource
		baseChart
		class="chart w-full"
		[data]="generatedData"
		[options]="generatedOptions"
		type="line"
	></canvas>
</div>
<div class="px-2">
	<div class="block my-1 px-2">
		<button
			class="inline-block border px-2 py-1 mr-1 rounded bg-slate-50"
			(click)="downloadChart()"
		>
			Download Chart
		</button>
		<button
			class="inline-block border px-2 py-1 rounded bg-slate-50"
			(click)="copyChart()"
		>
			Copy Chart
		</button>
	</div>

	<label class="block">
		<span class="inline-block mr-2">Start and End Ranges</span>
		<input
			type="datetime-local"
			[value]="datePointRangeLabels[0]"
			[min]="datePointRangeLimits[0]"
			[max]="datePointRangeLabels[1]"
			(change)="setRange(0, $event)"
		/>
		<input
			type="datetime-local"
			[value]="datePointRangeLabels[1]"
			[min]="datePointRangeLabels[0]"
			[max]="datePointRangeLimits[1]"
			(change)="setRange(1, $event)"
		/>
	</label>
	<label class="block">
		<span class="inline-block mr-2">Hours Ahead to Predict</span>
		<input
			type="number"
			min="0"
			[value]="0"
			(change)="setPredict($event)"
			(blur)="ngOnChanges()"
		/>
	</label>
</div>
