<!-- Div must exist with relative for Chart.js to resize properly -->
<div class="w-full px-2 sm:px-0 overflow-x-auto">
	<div class="w-full min-w-[580px] h-[70vw] md:h-[50vw] max-h-[calc(90vh-4rem)] overflow-hidden relative">
		<canvas
			#chartSource
			[data]="generatedData"
			[options]="generatedOptions"
			baseChart
			class="chart w-full"
			type="line"
		></canvas>
	</div>
</div>
<div class="px-2">
	<div class="block my-1 px-2">
		<button
			(click)="downloadChart()"
			class="inline-block border px-2 py-1 mr-1 rounded bg-slate-50"
		>
			Download Chart
		</button>
		<button
			(click)="copyChart()"
			[disabled]="!copyChartSupported"
			class="inline-block border px-2 py-1 rounded bg-slate-50"
			[ngClass]="{'cursor-not-allowed': !copyChartSupported}"
		>
			Copy Chart <span *ngIf="!copyChartSupported">(Not Supported by Browser)</span>
		</button>
	</div>

	<label class="block">
		<span class="inline-block mr-2">Start and End Ranges</span>
		<input
			(change)="setRange(0, $event)"
			[max]="datePointRangeLabels[1]"
			[min]="datePointRangeLimits[0]"
			[value]="datePointRangeLabels[0]"
			type="datetime-local"
		/>
		<input
			(change)="setRange(1, $event)"
			[max]="datePointRangeLimits[1]"
			[min]="datePointRangeLabels[0]"
			[value]="datePointRangeLabels[1]"
			type="datetime-local"
		/>
	</label>
	<label class="block">
		<span class="inline-block mr-2">Hours Ahead to Predict</span>
		<input
			(blur)="ngOnChanges()"
			(change)="setPredict($event)"
			[value]="0"
			min="0"
			type="number"
		/>
	</label>
</div>
