<section class="log-table-section">
	<table [dataSource]="logs" class="mat-elevation-z8 log-table" mat-table>
		<thead>
			<tr>
				<td>Time</td>
				<td>Type</td>
				<td>Message</td>
				<td>Extra Data</td>
			</tr>
		</thead>
		<tbody>
			<ng-container matColumnDef="timestamp">
				<th *matHeaderCellDef mat-header-cell>Time</th>
				<td *matCellDef="let log" class="log-table-column-0" mat-cell> {{log.timestamp | logdate}} </td>
			</ng-container>
			<ng-container matColumnDef="log_type">
				<th *matHeaderCellDef mat-header-cell>Type</th>
				<td *matCellDef="let log" class="log-table-column-0" mat-cell> {{log.log_type}} </td>
			</ng-container>
			<ng-container matColumnDef="message">
				<th *matHeaderCellDef mat-header-cell>Message</th>
				<td *matCellDef="let log" mat-cell> {{log.message}} </td>
			</ng-container>
			<ng-container matColumnDef="related_data">
				<th *matHeaderCellDef mat-header-cell>Extra Data</th>
				<td *matCellDef="let log" mat-cell> {{log.related_data}} </td>
			</ng-container>
			<!--		<tr *ngFor="let log of logs">-->
			<!--			<td  class="log-table-column-0">{{log.timestamp | logdate }}</td>-->
			<!--			<td class="log-table-column-0">{{log.log_type}}</td>-->
			<!--			<td>{{log.message}}</td>-->
			<!--			<td>{{log.related_data}}</td>-->
			<!--		</tr>-->
			<tr *matHeaderRowDef="columns;" mat-header-row></tr>
			<tr *matRowDef="let row; columns: columns;" mat-row></tr>
		</tbody>
	</table>
</section>
