<div class="relative w-full">
	<!-- Div must exist with relative for Chart.js to resize properly -->
	<div class="relative w-full px-2 sm:px-0 overflow-x-auto">
		<div class="w-full min-w-[580px] h-[70vw] md:h-[50vw] max-h-[calc(90vh-4rem)] overflow-hidden relative">
			<canvas
				#chartSource
				[data]="generatedData"
				[options]="generatedOptions"
				baseChart
				class="chart w-full"
				type="line"
			></canvas>
		</div>
	</div>

	<div class="absolute top-2 right-2 sm:right-4 flex flex-row gap-1">
		<button
			(click)="downloadChart()"
			class="inline-block border p-2 rounded bg-slate-50"
			title="Download"
		>
			<img
				ngSrc="assets/download.svg"
				alt="Download Chart"
				width="16"
				height="16"
			/>
		</button>
		<button
			(click)="copyChart()"
			[disabled]="!detectsClipboardSupport"
			[ngClass]="{'cursor-not-allowed': !detectsClipboardSupport}"
			class="inline-block border p-2 rounded bg-slate-50"
			[title]="detectsClipboardSupport ? 'Copy' : 'Copy not supported by browser'"
		>
			<img
				ngSrc="assets/copy.svg"
				alt="Copy Chart"
				width="16"
				height="16"
			/>
		</button>
	</div>
</div>
