<app-filter-ui-layout
	filterTitle="Seat History Lookup Tool"
	[showSubtitle]="!results.length"
	subtitle="Filter by a Subject Code to begin"
>
	<ng-container filter-list>
		<!-- Filter Options -->
		<ul class="pt-2">
			<li>
				<app-autocomplete-filter-field
					(onSelect)="setTerm($event)"
					[options]="validTerms"
					titleText="Term Code (Quarter)"
					labelText="Term Code Filter"
					placeholder="Select Term Code"
					defaultLabel="(Default: Most Recent)"
					initialValue="Default"
					defaultOption="Default"
					[required]="true"
				></app-autocomplete-filter-field>
			</li>

			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectCode($event)"
					[options]="validSubjectCodes"
					titleText="Subject Code"
					labelText="Subject Code Filter"
					placeholder="Select Subject Code"
					[required]="true"
				></app-autocomplete-filter-field>
			</li>

			<li>
				<app-autocomplete-filter-field
					(onSelect)="setSubjectNumber($event)"
					[options]="validSubjectNumbers"
					[autocompleteTextControl]="subjectCodeControl"
					titleText="Subject Number"
					labelText="Subject Number Filter"
					placeholder="Select Subject Number"
					defaultLabel="(All)"
					initialValue="All"
					defaultOption="All"
				></app-autocomplete-filter-field>
			</li>
		</ul>
	</ng-container>

	<ng-container>
		<ng-container *ngIf="results.length !== 0">
			<div class="flex flex-col">
				<h2 class="text-base text-slate-500">{{results.length}} results found:</h2>

				<!-- Results -->
				<app-crn-lookup-result
					*ngFor="let option of results"
					[term]="appliedFilters.term"
					[crn]="option.crn"
					[subject_code]="option.subject_code"
					[subject_number]="option.subject_number"
				></app-crn-lookup-result>

			</div>
		</ng-container>
	</ng-container>
</app-filter-ui-layout>
