<app-filter-ui-layout
	filterTitle="Seat History Lookup Tool"
	[showSubtitle]="!results.length"
	subtitle="Filter by a Subject Code to begin"
>
	<ng-container filter-list>
		<!-- Filter Options -->
		<ul class="pt-2">
			<li>
				<div>
					<h3 class="text-base">Term Code (Quarter)</h3>
					<div>

						<mat-form-field class="w-full">
							<mat-label>Term Code Filter</mat-label>
							<input
								#termInput
								type="text"
								placeholder="Select Term Code"
								matInput
								[formControl]="termControl"
								[matAutocomplete]="autoTerm"
							>
							<mat-autocomplete
								requireSelection
								#autoTerm="matAutocomplete"
								(optionSelected)="setTerm($event.option.value)"
							>
								<mat-option value="Default">
									(Default: Most Recent)
								</mat-option>
								<mat-option
									*ngFor="let term of validTerms"
									[value]="term"
								>
									{{term}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>

					</div>
				</div>
			</li>

			<li>
				<div>
					<h3 class="text-base">Subject Code <span class="text-red-500">*</span></h3>
					<div>

						<mat-form-field class="w-full">
							<mat-label>Subject Code Filter</mat-label>
							<input
								#subjectCodeInput
								type="text"
								placeholder="Select Subject Code"
								matInput
								[formControl]="subjectCodeControl"
								[matAutocomplete]="auto"
								(focus)="resetAutofillSubjectCode()"
								(input)="applyPartialSubjectCodeFilter($event)"
							>
							<mat-autocomplete
								requireSelection
								#auto="matAutocomplete"
								(optionSelected)="setSubjectCode($event.option.value)"
							>
								<mat-option
									*ngFor="let option of filteredCodeOptions"
									[value]="option"
								>
									{{option}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>

					</div>
				</div>
			</li>

			<li>
				<div>
					<h3 class="text-base">Subject Number</h3>
					<div>

						<mat-form-field class="w-full">
							<mat-label>Subject Number Filter</mat-label>
							<input
								#subjectNumberInput
								type="text"
								placeholder="Select Subject Number"
								matInput
								[formControl]="subjectNumberControl"
								[matAutocomplete]="autoNum"
								(focus)="resetAutofillSubjectNumber()"
								(input)="applyPartialSubjectNumberFilter($event)"
							>
							<mat-autocomplete
								requireSelection
								#autoNum="matAutocomplete"
								(optionSelected)="setSubjectNumber($event.option.value)"
							>
								<mat-option value="All">
									(All)
								</mat-option>
								<mat-option
									*ngFor="let option of filteredNumberOptions"
									[value]="option"
								>
									{{option}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>

					</div>
				</div>
			</li>
		</ul>
	</ng-container>

	<ng-container>
		<ng-container *ngIf="results.length !== 0">
			<div class="flex flex-col">
				<h2 class="text-base text-slate-500">{{results.length}} results found:</h2>

				<!-- Results -->
				<app-crn-lookup-result
					*ngFor="let option of results"
					[term]="appliedFilters.term"
					[crn]="option.crn"
					[subject_code]="option.subject_code"
					[subject_number]="option.subject_number"
				></app-crn-lookup-result>

			</div>
		</ng-container>
	</ng-container>
</app-filter-ui-layout>
