<app-filter-ui-layout
	filterTitle="Degree Lookup Tool"
>
	<ng-container filter-list>
		<!-- Filter Options -->
		<ul class="pt-2">
			<li>
				<app-autocomplete-filter-field
					(onSelect)="setDegreeType($event)"
					[options]="validDegreeTypes"
					titleText="Degree Type"
					labelText="Degree Type Filter"
					placeholder="Select Degree Type"
					defaultLabel="(All)"
					initialValue="All"
					defaultOption="All"
					[required]="true"
				/>
			</li>
		</ul>
	</ng-container>

	<p>Better UI Coming Tomorrow</p>
	<ul class="pl-4 list-disc">
		<li
			*ngFor="let degree of results"
		>
			<span class="font-bold">[{{degree.degree_type}}]</span> {{degree.name}}
		</li>
	</ul>
</app-filter-ui-layout>

