// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$UCDAPIDemo-primary: mat.define-palette(mat.$indigo-palette);
$UCDAPIDemo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$UCDAPIDemo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$UCDAPIDemo-theme: mat.define-light-theme((
	color: (
		primary: $UCDAPIDemo-primary,
		accent: $UCDAPIDemo-accent,
		warn: $UCDAPIDemo-warn,
	)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($UCDAPIDemo-theme);

// Include Prism syntax highlighting
@import "prismjs/plugins/toolbar/prism-toolbar.css";
@import "prismjs/themes/prism";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Add PWA safe padding classes
@layer utilities {
	.pt-safe {
		padding-top: env(safe-area-inset-top);
	}

	.pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}

	// Duplicated properties to use dvh for modern browsers
	.min-h-main-full {
		min-height: calc(100vh - 4rem - env(safe-area-inset-top, 0));
		min-height: calc(100dvh - 4rem - env(safe-area-inset-top, 0));
	}

	.h-main-full {
		height: calc(100vh - 4rem - env(safe-area-inset-top, 0));
		height: calc(100dvh - 4rem - env(safe-area-inset-top, 0));
	}
}

html {
	height: 100%;
}

body {
	// PWA Status Bar color for IOS
	background-color: #6E7590;
	min-height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	// Needed !important to override FlowBite hiding the scrollbar when the sidebar appears
	overflow-y: auto !important;
}

/* Smooth scroll by default */
* {
	scroll-behavior: smooth;
}
