<div>
	<h3 class="text-base">{{titleText}} <span *ngIf="required" class="text-red-500">*</span></h3>
	<div>

		<mat-form-field class="w-full">
			<mat-label>{{labelText}}</mat-label>
			<input
				#autocompleteInput
				(focus)="resetAutocompleteTextInput()"
				(input)="handleInput($event)"
				[formControl]="autocompleteTextControl"
				[matAutocomplete]="autocomplete"
				[placeholder]="placeholder"
				matInput
				type="text"
			>
			<mat-autocomplete
				#autocomplete="matAutocomplete"
				(optionSelected)="selectValue($event.option.value)"
				requireSelection
			>
				<mat-option
					*ngIf="defaultOption"
					[value]="defaultOption"
				>
					{{defaultLabel || defaultOption}}
				</mat-option>
				<mat-option
					*ngFor="let autoOption of filteredOptions"
					[value]="autoOption"
				>
					{{autoOption}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

	</div>
</div>
