/* Add non-repeating fade animation */
.animation-fade {
	animation: fade 1s linear 1;
	animation-fill-mode: both;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Notification-specific height collapse */
.notification-appear-animation {
	animation: notification-collapse .1s linear 1;
	animation-direction: normal;
	animation-fill-mode: both;
	overflow: hidden;
}

.notification-disappear-animation {
	animation: notification-collapse .1s linear 1;
	animation-direction: reverse;
	animation-fill-mode: both;
	overflow: hidden;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes notification-collapse {
	from {
		max-height: 0;
	}
	to {
		max-height: 6rem;
	}
}
